doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, inital-scale=1.0')
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .ui.grid
      .one.wide.column
        block sidebar
          div.ui.left.vertical.inverted.sidebar.labeled.visible.icon.menu
            a.item
              i.tags.icon
              | Categories
            a.item
              i.archive.icon
              | Brands
            a.item
              i.box.icon
              | Items
            a.item
              i.clipboard.icon
              | Gear Lists
      .fifteen.wide.column
    block content
